.d1 {
  background-color: hotpink;
  display: flex;
  height: 340px;
  width: 340px;
}

@media screen and (max-width: 1000px) {
  nav {
    background-color: aqua;
  }

  p {
    display: none;
  }

  body > div {
    height: 400px;
    width: 400px;
    background-color: yellow; /* important */
  }
}

.d{
    background-color: yellowgreen;
    border: 1px;
    border-style: solid;
    height:100px;
    width:100px;
    margin: 10px;
}