body {
    font-family: Arial;
    padding: 20px;
}

/* HEADER COLORS */
.c1 {
    background: turquoise;
    padding: 5px 10px;
}

.c2 {
    background: red;
    padding: 5px 10px;
}

.c3 {
    background: purple;
    color: white;
    padding: 5px 10px;
}

/* LIST STYLE */
ul {
    margin-top: 20px;
}

li {
    margin: 8px 0;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

/* SIMPLE HOVER EFFECT */
li:hover {
    color: purple;
    transform: translateX(10px);
}